---
import CanvasComponent from "../components/Canvas"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="section">

			<CanvasComponent client:only="react" letter="matias" cssClass="m"/>
		</div>
	
	</body>
</html>

<style>
	.section {
		/* display: flex; */
		/* gap: 1rem; */
		height: 50dvh;

	}

	
</style>
