---
import CanvasComponent from "../components/Canvas"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

		<section>
			<nav>
				Logo
				<ul>
					<li>home</li>
					<li>blog</li>
				</ul>
			</nav>
			<div class="section">
				<CanvasComponent client:only="react" letter="matias" cssClass="m"/>
			</div>
		</section>
	
	</body>
</html>

<style>
	.section {
		/* height: 100dvh; */
		position: relative;

	}


	nav {
		display: flex;
		justify-content: space-between;

		ul{
			display: flex;
			justify-content: space-between;
			width: 30%;
		}
	}

	
</style>
